<html>
  <head>
    <% include ../partial/head %>
  </head>
    <body>
      <% include ../partial/header %>
      <div class="container col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 "id="editProfileContainer">
        <h2>Edit Profile</h2>
        <hr> <!-- spliter line -->
        <div class="row">
          <!-- left column (picture) -->
          <div class="col-md-3">
            <div class="text-center">
              <img src="<%= user.profilePhoto %>" class="profile-image img-circle" alt="avatar" style="width: 120px">
              <h6>Upload a different photo...</h6>

              <input type="file" class="form-control">
            </div>
          </div>

          <!-- right column (information) -->
          <div class="col-md-9 personal-info">
            <div class="alert alert-danger alert-dismissable" id="alertMessageBlock">
              <a class="panel-close close" data-dismiss="alert">×</a>
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              <span id="messageBlock"></span>
            </div>
            <h3>Personal info</h3>
            <!-- username -->
            <div>
              <label class="col-md-3 control-label">Username:</label>
              <div class="col-lg-7">
                <input class="form-control" type="text" id="name" tag="<%= user.type%>" value="<%= user.name %>">
              </div>
            </div>
            <!-- email -->
            <div>
              <label class="col-md-3 control-label">Email:</label>
              <div class="col-lg-7">
                  <input class="form-control" type="email" id="email" value="<%= user.email %>" disabled>
              </div>
            </div>
            <!-- show password if user type is local -->
            <% if (user.type == "local") { %>
            <div>
              <label class="col-md-3 control-label">Password:</label>
              <div class="col-md-7">
                <div class="input-group">
                  <input class="form-control" type="password" id="password" tag="<%=user.password %>" value="<%=user.password %>">
                  <!-- addon button for change password -->
                  <span class="input-group-addon" id="basic-addon1">
                    <button id="btnChangePassword" data-toggle="tooltip" data-placement="top" title="Change Password"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    <button id="btnDiscardChange"  data-toggle="tooltip" data-placement="top" title="Discard Change"><i class="fa fa-times-circle-o" aria-hidden="true"></i></button>
                  </span>
                </div>
              </div>
            </div>
            <div id="divConfirmPassword">
              <label class="col-md-3 control-label">Confirm password:</label>
              <div class="col-md-7">
                <input class="form-control" type="password" id="confirmpassword" value="<%= user.password %>">
              </div>
            </div>
            <% } %>
          </div>
        </div> <!-- row end -->
        <!-- button group -->
        <div class="row btnRowGroup">
          <button class="btn btn-primary" id="btnSaveChanges">Save Changes</button>
          <a href="/profile" class="btn btn-default" value="Cancel">Cancel</a>
        </div>
      </div> <!-- container end -->
    </body>
    <%include ../partial/footer.ejs%>
</html>

<script type="text/javascript">
  
  function finishUpdate() {
    window.location.replace("/profile");
  }

  $(document).ready(function(){
    <% if (user.type == "local") { %>
    /**
     * change visibility of confirm password block
     */
    function changeConfirmPassword (type) {
      var div = document.getElementById("divConfirmPassword");
      div.style.display = type;
    }
    /**
     * check password matches to confirm password or not
     * @returns {boolean}
     */
    function checkPassword() {
      var newPassword = $("#password").val();
      var confirmPassword = $("#confirmpassword").val();
      if (newPassword != confirmPassword) {
        return false;
      }
      return true;
    }

    /**
     * click event listener on change password
     */
    $("#btnChangePassword").on("click", function () {
      //console.log("clicked");
      changeConfirmPassword("block");
      this.style.display = "none";
      document.getElementById("btnDiscardChange").style.display = "block";
    });
    
    document.getElementById("btnDiscardChange").onclick = function () {
      changeConfirmPassword("none");
      this.style.display = "none";
      document.getElementById("btnChangePassword").style.display = "block";
    };
    <% } %>
    $('#btnSaveChanges').on('click', function () {
      var alertBlock = document.getElementById("alertMessageBlock");
      if (alertBlock.style.display != "none") {
        alertBlock.style.display = "none";// make alert disappear for better user experience
      }
      var password;
      var name;
      // check password is changed or not
      var type = $("#name").attr("tag");
      if (type == "local") {
        if (!checkPassword()) {
          document.getElementById("alertMessageBlock").style.display = "block";
          document.getElementById("messageBlock").innerHTML = "password doesn't match!!"; // TODO: find another way to alert
        } else {
          password = $("#password").val();
        }
      }
      name = $("#name").val();
      var changedInfo = {
        name: name,
        password: password
      };
      console.log(changedInfo);

      $.post("/profile/edit", changedInfo, function (result) {
        console.log(result);
        // TODO: add process bar
        setTimeout(finishUpdate(), 2000);
      });
    });


  });

  $('[data-toggle="tooltip"]').tooltip();


</script>